#title {
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

#center {
    max-width: 1200px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-photo {
    width: 100%;
    margin-bottom: 3em;

}

#hero-photo {
    border-radius: 15px;
    margin-bottom: 2.5em;
}

#step-cards {
    margin-top: none;
}
.step-card {
    background-color: whitesmoke;
    padding: 1.25em;
    border-radius: 15px;
    margin-bottom: 2.5em;
    max-width: 500px;
}

.content>h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2.75em;
}

.content>p {
    margin-bottom: 1.5em;
}

.content>img {
    width: 100%;
    border-radius: 15px;
}

.team {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.member {
    background-color: whitesmoke;
    margin: 2em;
    padding: 1.25em;
    border-radius: 15px;
}

.name {
    margin-top: 1em;
}
.role {
    font-size:1.1em;
}

.name:hover {
    color: #03c04a;
    transition: all 0.1s;
    cursor: pointer;
}

.person-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leading {
    text-align: left;
    font-size: 2.75em;
}

@media (min-width: 576px) { 

    #leading {
        font-size: 3.5em;
    }

    .name {
        font-size: 1.8em;
    }

    .role {
        font-size: 1.3em;
    }
 


    p {
        font-size: 1.2em;
    }

    .content>p {
        margin-bottom: 1.5em;
    }

    #title {
        font-size: 3.8em;
    }

    #step-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }

@media (min-width: 768px) { 
    .step-card {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;

    }
    
    .step-card>img {
        width: 100%;
        height: 100%;

    }

    .content {
        max-width: 55%;
        margin-right: 1.5em;
    }
    
    #leading {
        font-size: 4em;
    }

    .name {
        font-size: 2em;
    }

    .role {
        font-size: 1.5em;
    }
    
    .team {
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }

 }

@media (min-width: 992px) {  

    #center {
        max-width: 800px;
    }

   .content>h2 {
       font-size: 3.3em;
   }

    #leading {
        font-size: 4.2em;
    }

    .name {
        font-size: 2.2em;
    }

    .role {
        font-size: 1.7em;
    }
    
    .team {
        width: 120px;
        height: 120px;
        border-radius: 15px;
    }
}

@media (min-width: 1200px) { 


    #center {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }
    
    #flextocenter {
        max-width: 50%;
        margin-right: 3.5em;
       
    }

    #title {
        font-size: 4.5em;
    }

   .step-card>img {
       max-width: 300px;
       max-width: 80%;
       margin-bottom: none;
   }
   

    .step-card>img {
        max-width: 350px;
    }
    
    h2 {
        font-size: 3.5em;
    }
 
    #center-team {
        width: 1200px;
    }
    #about-team {
        display: flex;
        align-items: center;
        justify-content: center;
    }


 }
