 /* Generic Site Stylings */

 body {
     margin: 25px;
 }
 span {
    color: #03c04a;
}
header {
    margin-top: 2.5em;
}




section {
    margin-top: 3em;
}

/* Nav Styling */
nav {
    display: flex;
    justify-content: space-between;

}



#nav-wrapper {
    display: grid;
    place-items: center;
}

.navbar-toggler {
    scale: 0.8;
    border: none;
}

#logo {
    width: 150px;
    height: 100%;
    margin-right: 00px
}

/* Button Styling */

button {     
    border: none; 
    background-color: none;
    color: black
}

.round {
    background-color: #03c04a;
    color: white;
    padding: 0.35em 1em;
    border-radius: 1em;
    font-size: 0.95em;
    text-decoration: none;
}

.round:hover {
    opacity: 0.8;
}

.hover-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 0.95em;
  }
  
  .hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


img {
    width: 100%;
    border-radius: 15px;

}

  

@media (min-width: 576px) { 
    .container-fluid {
        max-width: 85vw;
        display: flex;
        flex-direction: column;
    }
 }
