/*
    General Styling
*/

.photo {
    border-radius: 15px;
}

#home1 {
    margin-bottom: 1.5em;
    width: 100%;
}

#home2{
    width: 100%;
    margin-bottom: 2em;
}

#title {
    font-size: 2.75em;
    margin-bottom: 0.5em;
}


#replace {
    display: none;
}
#title-body {
    margin-bottom: 1em;
    max-width: 90vw;
}

/* 
    recent-section    
*/

#recent {
    background-color: whitesmoke;
    padding: 2.25em 1.5em;
    border-radius: 15px;
}
#recent-text {
    margin-bottom: 0.5em;
    opacity: 0.5;
}

#recent-round, #insta {
    margin-left: 0.5em;
}


/* 
    Impact Section
*/

#impact-title, #learn-title {
    font-size: 2.25em;
}

#impact {
    background-color: whitesmoke;
    padding: 2.25em 1.5em;
    border-radius: 15px;

}

.impact-item {
    margin-top: 0.75em;
}

.impact-item:nth-of-type(1) {
    margin-top: 1.5em;
}
.impact-item-title {
    font-size: 1.75em;
}

.impact-item-body {
    max-width: 75vw;
}


#learn-title {
    margin-bottom: 0.5em;
}
#learn {
    margin-bottom: 3em;
}

#learn-body {
    margin-bottom: 1.25em;
}

 
 





@media (min-width: 576px) { 
  

    #title {
        font-size: 3.3em;
    }
    
    #recent-text {
        font-size: 2em;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header>div {
        max-width: 900px;
    }

 }

@media (min-width: 768px) { 


 
    #title {
        font-size: 4em;
    }

    #recent {
        max-width: 800px;
    }

    #recent-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 1.1em;
    }

    #title-body {
        margin-bottom: 1.5em;
        max-width: 750px;
    }
    #recent-text {
        font-size: 2.3em;
    }

    #impact-title, #learn-title {
        font-size: 2.5em;
    }

    .impact-item-title {
        font-size: 2.1em;
    }



 }

@media (min-width: 992px) {  

   

    #title {
        font-size: 4.5em;
    }
    #home2 {
        display: none;
    }

    #replace {
        display: block;
        max-width: 375px;
    }

     /* header>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: none;
    }

   

    header>div>img {
        width: 50%;
        height: 50%;
        margin-right: 2em;
    } */

    #recent{
        display: flex;
        align-items: center;
        justify-content:space-around;
        max-width: none;
    }

    #recent>div {
        max-width: 50%;
        margin-left: 2em;
    }

    #recent-img {
        height: 100%;
    }
    #impact-title, #learn-title{
        font-size: 2.8em;
    }

    #impact-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #impact-item {
        max-width: 33%;
    }

    .impact-item:nth-of-type(1), .impact-item:nth-of-type(2)  {
        margin-right: 2em;
    }
    
    #recent-text {
        font-size: 2.3em;
    }


    #learn-title,  #learn-body{
        text-align: center;
    }

   #learn {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   #learn>div {
    max-width: 1100px;
   
    }

    #learn-body {
        max-width: 800px;
    }

    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) { 
    

    #title {
        font-size: 4.5em;
    }


    header {
        margin-left: 12vw;
        margin-right: 12vw;
    }

    #recent>div {
        max-width: 50%;

    }

    #recent-text {
        font-size: 2.5em;
    }

    #outside-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #impact, #recent {
        max-width: 1100px;

    }


 }
