#title {
    font-size: 2.75em;
    margin-bottom: 0.5em;
}

img {
    width: 100%;
    border-radius: 15px;

}


.card-background, #planter {
    background-color:whitesmoke;
    padding: 2em 1.5em;
    border-radius: 15px;
    margin-bottom: 3.5em;
}

.card-title {
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.timeline {
    font-weight: bold;
}


.description {
    margin-bottom: 2.25em;
}

#planter-photo {
    border-radius: 15px;
    margin-bottom: 1.5em;
}


.product-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em;
}
#baby-sprout {
    margin-bottom: 1em;
}
.section-title-first, .section-title-second {
    text-align: center;
    margin-bottom: 0.7em;
    font-size: xx-large;
}


.pdf-title {
    font-size:larger;
    font-weight:600;
}

.pdf-link {
    text-decoration: none;
    color:#03c04a
}

.pdf {
    margin-bottom: 1.5em;
}                    

@media (min-width: 576px) { 
    .container-fluid {
        max-width: 85vw;
        display: flex;
        flex-direction: column;
    }

    #center {
        max-width: 650px;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title {
        font-size: 3.25em;
    }

    .section-title-first, .section-title-second {
        font-size: 2.3em;
    }

    .card-title {
        font-size: 2.4em;
    }

 }

@media (min-width: 768px) { 

    #title {
        font-size: 4em;
    }

    p, .pdf-link {
        font-size: 1.1em;
    }

    .section-title-first, .section-title-second {
        font-size: 2.4em;
    }

    .section-title-first {
        margin-bottom: none;
    }

    #reces {
        max-width: 1900px;
    }

  
    #pdfs {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .pdf {
        max-width: 95%;
    }

    .card-background {
        max-width: 525px;
    }

    #flex-partner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



 }

 
@media (min-width: 992px) { 

  
    #center {
        max-width: 850px;
        justify-content: center;
        align-items: center;
    }

    #title {
        font-size: 4.75em;   
        width: 800px; 
    }

    #title-p {
        width: 800px;
    }
    .card-background {
        width: 50%;
        max-height: 1250px;
    }

    .card-title {
        font-size: 2.5em;
    }
    .card-background:nth-of-type(1) {
        margin-right: 35px;
    }

    #flex-partner {
        display: flex;
        flex-direction: row;
      
    }
    .v-align {
        display: flex;
       justify-content: center;
       align-items: center;
    }

    .section-title-first, .section-title-second {
        font-size: 3em;
    }

    .pdf {
        width: 900px;
    }

    .pdf-title {
        font-size: 1.5em;
    }

    p, .pdf-link {
        font-size: 1.2em;
    }

   
}

@media (min-width: 1200px) {
  
   
    #title, #title-p {
        width: 1000px;
    }

    #title {
        font-size: 5em;
    }

    .section-title-first, .section-title-second {
        font-size: 3em;
    }

    .round {
        font-size: 1em;
    }

  
    .pdf {
        width: 1000px;
    }
    .pdf-title {
        font-size: 1.5em;
    }
 }

